doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
    script(src='/javascripts/jquery-3.2.0.js')
    script(type='text/javascript', src='http://www.youtube.com/player_api')
    script(src='/javascripts/main.js')
  body
    block content
